<section class="sport_score__card" (click)="openSportScoreDetails()" [ngClass]="{'sport_score__card-dark': darkMode}">
	<div class="container">	
	<div id="row1" class="row">
			<div class="col-xs-12">
        <span class="sportScore_teamName">{{ card.teamName }}</span>
		</div>
		</div>
		<div id="row2" class="row cardRow">
			<div class="col-xs-6 sport_team_image_container" *ngIf="card.teamBadgeUrl">
			<img class="sport_team_image" id="teamBadge" src={{card.teamBadgeUrl}}/>
		</div>
			<div class="col-xs-6">
        <div *ngIf="card.lastFixture.homeTeam">
			<h1 id="heading1" class="sportScore_fixtureHeading">Last Fixture:</h1>
      <span class="sportScore_fixtureDetails">{{ card.lastFixture.homeTeam }} {{ card.lastFixture.homeScore }} - {{ card.lastFixture.awayScore }} {{ card.lastFixture.awayTeam }}</span>
      </div>
      <div *ngIf="card.nextFixture.homeTeam">
          <h1 id="heading1" class="sportScore_fixtureHeading">Next Fixture:</h1>
          <span class="sportScore_fixtureDetails">{{ card.nextFixture.homeTeam }} v {{ card.nextFixture.awayTeam }}</span>
          </div>
	</div>
	</div>
		<div id="row3" class="row cardRow">
			<div class="col-xs-12">
				<thead>
					<tr>
					  <th>Pos</th>
					  <th>Name</th>
					  <th>Played</th>
					  <th>Points</th>
					  <th>+/-</th>
					</tr>
					</thead>
					
					<tbody>
					<tr ng-if="card.standings.standings[0]" *ngFor="let standing of card.standings.standings[0].table | slice:(card.getTeamTableIndex()-1):(card.getTeamTableIndex()+2)">
					  <td>{{standing.position}}</td>
					  <td>{{standing.team.name}}</td>
					  <td>{{standing.playedGames}}</td>
					  <td>{{standing.points}}</td>
					  <td>{{standing.goalDifference}}</td>
					  <td>
					</tr>
					</tbody>
		</div>
		</div>
	</div>
  </section>
  