<section class="weather__card" (click)="openDetails()" [ngClass]="{'weather__card-dark': darkMode}">
    <i class="wi wi-night-sleet"></i>
<span class="city-name__text" *ngIf="card.name">{{card.name}}</span>
<span class="city-name__text" *ngIf="card.main">{{card.main.temp}}</span>
<i class="owi owi-01d"></i>
  <!-- <div class="weather-icon__container" [ngSwitch]="true">
    <svg *ngSwitchCase="condition === 'Clouds'" viewBox="2436.9 -843.1 275.5 274.1">
    </svg>

    <svg *ngSwitchCase="condition === 'Rain' || condition === 'Drizzle'" viewBox="3170 -843.1 163.5 242.7">
    </svg>

    <svg *ngSwitchCase="condition === 'Storm'" viewBox="3487.9 -810.7 291.2 200.3">
    </svg>


    <svg *ngSwitchCase="condition === 'Sunny' || condition === 'Clear'" viewBox="2050 -845 262 262">
    </svg>

  </div>
  <div class="temperature-text__container">
    <span class="temperature__text">{{ currentTemp }}</span>
    <span class="temperature-metric__text">°</span>
    <span class="weather-condition__text">{{ condition }}</span>
  </div>
  <section class="min-max__container">
    <div class="min__container">
      <svg class="min-arrow__icon" viewBox="188.5 807 21 21">
        <path fill="#00ff9b" d="M209.5 817.5h-21L199 828z" data-name="Min Arrow"/>
      </svg>

      <span class="min-temperature__text">{{ minTemp }}</span>
      <span class="min__text">Min</span>
    </div>
    <div class="max__container">
      <svg class="max-arrow__icon" viewBox="449.5 820 21 21">
        <path fill="red" d="M449.5 830.5h21L460 820z" data-name="Max Arrow"/>
      </svg>
      <span class="max-temperature__text">{{ maxTemp }}</span>
      <span class="max__text">Max</span>
    </div>
  </section>  -->
</section>
